@import "scss/reset";
@import "scss/base";
@import "scss/nav";
@import "scss/footer";

@import "../assets/fonts/webfonts/stylesheet.css";

body {
  background-color: black;
  &::before {
    content: "";
    background: linear-gradient(180deg, rgba(black, 1) 0%, rgba(black, 0) 100%);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 99;
    pointer-events: none;
  }
  &::after {
    content: "";
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    pointer-events: none;
  }
}
span#cursor {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  mix-blend-mode: difference;
  pointer-events: none;
}
ul {
  li {
    text-align: right;
    margin-bottom: 15px;
    a {
      color: transparent;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      display: block;
      transform: translate3d(100px, 0, 0);
      transition: transform 0.3s ease;
      &:hover {
        transform: translate3d(0, 0, 0);
        color: white;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      }
    }
  }
}
